<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030040746214-7e08ss505ltgruoccm007ka0bnqh9ved.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030040746214-7e08ss505ltgruoccm007ka0bnqh9ved</string>
	<key>API_KEY</key>
	<string>AIzaSyDNfz4rNvQUxjOdkUyNNu7Z6u50EjPS52s</string>
	<key>GCM_SENDER_ID</key>
	<string>1030040746214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.expensesspy.expensesspy</string>
	<key>PROJECT_ID</key>
	<string>financeapp-ef4bf</string>
	<key>STORAGE_BUCKET</key>
	<string>financeapp-ef4bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030040746214:ios:cadaf54bd8ad57f6e82327</string>
</dict>
</plist>